@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kalnia+Glaze:wdth,wght@102.2,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Martel:wght@400;600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Kalnia+Glaze:wdth,wght@102.2,100..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Martel:wght@400;600&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Space+Grotesk:wght@300..700&display=swap');


#dashtop
{
    display: flex;
    flex-direction: row;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    background: #667db6;  
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); 
    
    
/* margin-top: 100px; */
height: 45vh;
}

#asdfghjk
{
    /* margin-top: 90px; */
    background: #667db6;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 15vh;
    color: white;
    font-family: "Agdasima", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 50px; /* Adjust the font size here */
    line-height: 40px; /* Adjust the line height here */
    padding-top: 50px;
    padding-left: 30px;
}

#one
{
    padding: 10px;
    font-size: 16px;
    margin-top: 100px;
    margin-left: 60px;
    /* background-color: rgb(255, 255, 255); */
    height: 120px;
    width: 350px;
    color: white;
    /* text-align: center; */
    /* justify-content: center; */
    /* padding-top: 50px;  */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    /* background: #b92b27;  fallback for old browsers
background: -webkit-linear-gradient(to right, #1565C0, #b92b27);  Chrome 10-25, Safari 5.1-6
background: linear-gradient(to right, #1565C0, #b92b27); W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-color: #1565C0;
border-radius: 8px;

}
#two
{padding: 10px;
    margin-top: 100px;
    margin-left: 90px;
    /* background-color: green; */
    height: 120px;
    width: 350px;
    color: white;
    /* padding-top: 50px; */ 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    background: #1565C0;  /* fallback for old browsers */
    border-radius: 8px;

}
#three
{
    padding: 10px;
    margin-top: 100px   ;
    margin-left: 120px;
    /* background-color: blue; */
    height: 120px;
    width: 350px;
    /* padding-top: 50px; */
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
background-color: #1565C0;

}

#four
{
    padding: 10px;
    margin-top: 100px   ;
    margin-left: 150px;
    margin-right: 10px;
    /* background-color: blue; */
    height: 120px;
    width: 350px;
    /* padding-top: 50px; */
    color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
background-color: #1565C0;
}

#three:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 2px;
}

#one:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 2px;
}

#two:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 2px;
}

#four:hover{
    transform: translateY(-10px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 2px;
}

#dashbottom
{
    display: flex;
    flex-direction: row;
    font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}


/* #nav
{
    background-color: #1565C0;
} */

#imgone
{
    height: 55vh;
    width: 30%;
    background-color: rgb(255, 255, 255);
    margin-left: 45px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    border-radius: 8px;
    text-align: center;
    color: rgb(0, 0, 0);
}


#firstimg
{
    height: 250px;
    width: 80%;
    margin-left: 15px;
    /* margin-left: 50px; */
    border-radius: 5px;
}

#firstimg:hover
{
    transform: translateY(-30px);
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border-radius: 2px;
}